.container-1{
    width:75%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
    
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
    background: url(../images/blackjack-table.jpg) center;
    color: white;
}

.flex-blackjack-row-1 div{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    height: 400px;
    text-align: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.flex-blackjack-row-1 img{
    max-width: 18%;
    margin: 10px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
}

#your-box {
    overflow: auto;
}

.flex-blackjack-row-2 button{
    border: 1px solid grey;
}

.flex-blackjack-row-2 div{
    border: 1px solid black;
}

table tr th, tr td{
    padding: 5px;
    border: 1px solid black;
}